*{
    margin: 0;
    
}

canvas {
    width: 100%;
    background: black;
  
}

h1{
    color: white;
    position: absolute;
    font-size: 40px;
    font-family: monospace;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}